{% extends 'base.html' %}
{% block title %}Cotação{% endblock %}

{% block content %}

<!-- Content -->

<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-header">
            <h3 class="card-title"><a href="{% url 'cotation-list' %}">Cotaçãso de Projetos</a></h3>
          </div>

        <div class="card-body">
                <form action="{% url 'cotation-list' %}" method="GET" id="changelist-form" novalidate>
                <!-- Caixa de seleção - CheckBox -->
                <div class="actions">
                    <label><select class="form-control" name="action" required>
                        <option value="" selected>---------</option>
                        <option value="delete_selected">Delete</option>
                        </select></label>

                        <button type="submit" class="btn btn-secondary" title="Run the selected action" name="index" value="0">Ação</button>

                    <label><select class="form-control" name="cota" required>
                        <option value="" selected>---------</option>
                        <option value="option1">HH</option>
                        <option value="option2">DOC</option>
                        <option value="option3">A1</option>
                        </select></label>
                        
                    <button type="submit" class="btn btn-secondary" title="Run the selected action" name="index" value="0">Cotar</button>
                    <label id="espacamento">&nbsp;</label>
                    <label><select class="form-control" name="proj" required>
                    <option value="" selected>---------</option>
                    
                    {% for proj in MyProjects %}
                        <option value={{proj.id}}>{{proj.project_name}}</option>
                    {% endfor %}
                    
                    </select></label>

                    <label><select class="form-control" name="sub" required>
                        <option value="" selected>---------</option>
                        
                        {% for sub in Subjects %}
                            <option value={{sub.id}}>{{sub.subject_name}}</option>
                        {% endfor %}
                        
                    </select></label>
        
                    <button type="submit" class="btn btn-secondary" title="Run the selected action" name="index" value="0">Filtrar Projeto</button>
                </div>
 
     <div class="row">

            <table id="example2" class="table table-bordered table-hover"> <!-- class="table table-bordered table-striped" -->
                <thead>
                <tr name="selected">
                <th scope="col"  class="action-checkbox-column">
                    <div class="text"><span><input type="checkbox" name="_selected" value="All" id="action-toggle"></span></div>
                    <div class="clear"></div>
                </th>
                {% for col in cols %}
                <th scope="col"  class="column-__str__">
                    <div class="text"><a href="X">{{ col }}</a></div>
                    <div class="clear"></div>
                </th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
                {% csrf_token %}
                {% for cota in Cotations %}
                <tr>
                    <td id="width-col0" class="action-checkbox"><input type="checkbox" name="_selected_action" value={{cota.id}} class="action-select"></td>
                    <th id="width-col1" class="field-project_name"><a href="http://127.0.0.1:8000/edite_cotation/{{cota.id}}">{{cota.proj_name}}</a></th>
                    <td id="width-col3">{{cota.subject_name}}</td>
                    <td id="width-col4">{{cota.doc_name_pattern}}</td>
                    <td id="width-col5">{{cota.doc_name}}</td>
                    <td id="width-col6">{{cota.cod_doc_type}}</td>
                    <td>{{cota.format_doc}}</td>
                    <td>{{cota.page_type}}</td>
                    <td>{{cota.qt_page}}</td>
                    <td>{{cota.qt_hh}}</td>
                    <td>{{cota.cost_doc}}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
              <tr>
                <th></th>
                <th>Custo Total</th>
                <th colspan="8"></th>
                <th>20.500,00</th>
  
              </tr>
              </tfoot>
            </table>
          </div>
 <!--            <div class="row"><div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Mostrando {{ Cotations.number }} de {{ Cotations.paginator.num_pages }} Listas</div>
            </div> -->
            
<!--             <div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination">
                    {% if Cotations.has_previous %}
                      <li class="paginate_button page-item previous" id="example1_previous"><a href="?page={{ Cotations.previous_page_number }}" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                      <li class="paginate_button page-item next disabled" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                    {% endif %}
     
                    {% if Cotations.has_next %}
                      <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                      <li class="paginate_button page-item next" id="example1_next"><a href="?page={{ Cotations.next_page_number }}" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </div>
      
        </div> -->
       
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}

