{% extends 'base.html' %}

{% block title %}Documentos{% endblock %}
{% block content %}

<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Modelo de Documentação Técnica</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
             <table id="example2" class="table table-bordered table-hover"> <!-- class="table table-bordered table-striped" -->
              <thead>
              <tr name="selected">
                <th scope="col"  class="action-checkbox-column">
                    <div class="text"><span><input type="checkbox" name="_selected" value="All" id="action-toggle"></span></div>
                    <div class="clear"></div>
                </th>
                {% for col in cols %}
                <th scope="col"  class="column-__str__">
                    <div class="text"><a href="X">{{ col }}</a></div>
                    <div class="clear"></div>
                </th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
                {% csrf_token %}
                {% for doc in DocumentStandards %}
                <tr>
                    <td class="action-checkbox"><input type="checkbox" name="action" value="{{doc.id}}" class="action-select" id="selected">
                    <td class="field-project_name"><a href="http://127.0.0.1:8000/edite_cotation/{{doc.id}}">{{doc.documment_name}}</a></td>
                    <td>{{doc.doc_type}}</td>
                    <td>{{doc.format_doc}}</td>
                    <td>{{doc.doc_type_page}}</td>
                    <td>{{doc.created_doc}}</td>
                    <td>{{doc.update_doc}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <div class="row"><div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
            </div>
            
            <div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>

                    <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                </ul>
            </div>
            </div>
            </div>

             </div>
            <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>



{% endblock %}

